:root {
    --text: #2D2D2D;
    --weather-card: #f0f1c8;
    --error-card: #E8B3B3;
    --accent: #4F7CAC;
    --border: #C9D3DD;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg,
        #E3EEF9 0%,
        #F7F3E9 100%);
    color: var(--text);   
    min-height: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    width: 60%;
    min-width: 200px;
    margin: 10px 0px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

.city-lookup {
    font-size: 1.5rem;
}

.city-lookup input,
.city-lookup button {
    border-radius: 5px;
    font-size: inherit;
    padding: 8px;
    border: 3px solid var(--accent)
}

.city-lookup input {
    background-color: white;
    appearance: none;

}

.city-lookup div {
    margin: auto 5px;
}

button[type=submit]:hover {
    background-color: #c5c7c88f;
}

button[type=submit]:active {
    background-color: #c5c7c88f;
}

.card {
    width: 70%;
    max-width: 350px;
    text-align: center;
    padding: 1em;
    border: 5px solid var(--accent);
    border-radius: 10px;
    margin: 0px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.77);
}

.card h2 {
    font-weight: 600;
}

.card h3 {
    font-weight: 500;
}


.card.weather {
    background-color: var(--weather-card)
}

.card.error {
    background-color: var(--error-card);
}